@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

body{
	font-family: 'Work Sans', sans-serif;
    font-size:3.5vmin;
    font-weight: 300;
    text-align:center;
    text-decoration: none;
    overflow-y: hidden;
    color:white;
  }

.header{
    height: 8vh;
    padding: 0 1%;
    align-content: center;
   width: 100%;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}

.icon:hover, 
.navButton:hover{
  color:#95bfe8;
}

.header-name{
    margin-top: 0vh;
    font-size: 5vmin;
    font-weight: 600;
}
/* original on top */
.flip-container:hover .flipper,  
.flip-container.hover .flipper {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
      transform: rotateY(180deg);
  }

.flip-container, .front, .back {
  width: 57vmin;
  height: 29vmin;
  border-radius: 1%;
  margin: 0.75%;
}

.front, .back{
  box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.66)
}

@media screen and (max-width: 768px){
  .flip-container, .front, .back {
    width: 80vw;
    height: 45vw;
  }
  .bottom{
    display:none;
  }
li{
  width: 0.5vmin;
  transform: scale(0.25);
}
  }

  @media screen and (min-width: 769px) and (max-width: 1024px){
    .flip-container, .front, .back {
      width: 40vh;
      height: 25vh;
    }
  li{
    width: 0.5vmin;
    transform: scale(0.25);
  }
    }


.flipper {
  -webkit-transition: 0.9s;
  -webkit-transform-style: preserve-3d;

  -moz-transition: 0.9s;
  -moz-transform-style: preserve-3d;

-o-transition: 0.9s;
  -o-transform-style: preserve-3d;

  transition: 0.9s;
  transform-style: preserve-3d;

  position: relative;
}


.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
-o-backface-visibility: hidden;
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

h6{
   font-size:  2vmin
}

h2{
    font-size:  4vmin
 }

.work1 {
  background: rgba(3, 3, 3, 0.8) url(https://raw.githubusercontent.com/tomkim825/Project1-FaceAPI/master/project_1.gif) 0 0 no-repeat;
  background-size: cover 
}

.work2 {
    background: rgba(3, 3, 3, 0.8) url(https://github.com/tomkim825/meishi/blob/master/assets/images/screenshot2.png?raw=true) 0 0 no-repeat;
    background-position: center;
    background-size: contain; 
  }

  .work3 {
    background: rgba(3, 3, 3, 0.8) url(https://github.com/tomkim825/burger/raw/master/public/assets/img/burger.gif) 0 0 no-repeat;
    background-position: center;
    background-size: contain; 
  }

  .work4 {
    background: rgba(3, 3, 3, 0.8) url(https://raw.githubusercontent.com/tomkim825/GifGetter/master/gifgetter.gif) 0 0 no-repeat;
    background-position: center;
    background-size: contain; 
  }
  .work5 {
    background: rgba(3, 3, 3, 0.8) url(https://raw.githubusercontent.com/tomkim825/TrainTime/master/demo.gif) 0 0 no-repeat;
    background-position: center;
    background-size: contain; 
  }
  .work6 {
    background: rgba(3, 3, 3, 0.8) url(https://github.com/tomkim825/clicky-game/raw/master/public/assets/img/Capture.JPG?raw=true) 0 0 no-repeat;
    background-position: center;
    background-size: contain; 
  }

.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
-o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: rgba(33, 33, 33, 0.8);
}
.bottom{
    margin-top:0vh; 
}



.back p {
  /* position: absolute; */
margin: auto;
  /* bottom: 40px; */
  left: 0;
  right: 0;
  top:auto;
  text-align: center;
  padding: 20px 20px;
line-height: 2em;
}

li:hover{
    transform: scale(2);
    color:orangered
}

li{
  width: 3vw;
  transform: scale(1.5);

}